.category-title{
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}


.list-group-item{
    color: darkgray !important;
    border-bottom: 0px !important;
}

.list-group-item svg{
    width: 20px !important;
}

.list-group-item.active{
    background-color: transparent !important;
    border: 0px !important;
    color: #dc3545 !important;
    font-weight: bold !important;
}

.list-group-item.active:hover{
    color: #dc3545 !important;
}


.list-group-item:hover{
    color: black !important;
    cursor: pointer;
}

.category-border{
    border-bottom: 2px solid lightgray;
    padding: 20px 0;
}